
<header class="navigation">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <a class="navbar-brand order-1 py-0" href="/Blog/Index">
                <img loading="prelaod" decoding="async" class="img-fluid" src="~/reporter-bootstrap-main/theme/images/logo.png" alt="Reporter Hugo">
            </a>
            <div class="navbar-actions order-3 ml-0 ml-md-4">
                <button aria-label="navbar toggler" class="navbar-toggler border-0" type="button" data-toggle="collapse"
                        data-target="#navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            @await Html.PartialAsync("/Views/Blog/ContainsBlog.cshtml")

            <div class="collapse navbar-collapse text-center order-lg-2 order-4" id="navigation">
                <ul class="navbar-nav mx-auto mt-3 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/Index">Bloglar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index">İletişim</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Giriş Yap
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Admin/AdminLogin/Index">Admin Girişi</a>
                            <a class="dropdown-item" href="/Login/Index">Yazar Girişi</a>
                            <a class="dropdown-item" href="/RegisterUser/Index">Kayıt Ol</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>