@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Reporter - Asp.Net Core 5.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">
    <link rel="shortcut icon" href="~/reporter-bootstrap-main/theme/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/reporter-bootstrap-main/theme/images/favicon.png" type="image/x-icon">
    <meta name="theme-name" content="reporter" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/reporter-bootstrap-main/theme/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/reporter-bootstrap-main/theme/css/style.css">
</head>

<body>

    @await Html.PartialAsync("Partial1")

    <main>
        <section class="section">
            <div class="container">
                <div class="row no-gutters-lg">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="row">

                            @RenderBody()
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget-blocks">
                            <div class="row">

                               @await Html.PartialAsync("~/Views/NewsLetter/MailNewsletter.cshtml")

                                @await Component.InvokeAsync("BlogMaxRayting")

                                @await Component.InvokeAsync("BlogLastPost")

                                @await Component.InvokeAsync("CategoryList")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    @await Html.PartialAsync("Partial3")

    <!-- # JS Plugins -->
    <script src="~/reporter-bootstrap-main/theme/plugins/jquery/jquery.min.js"></script>
    <script src="~/reporter-bootstrap-main/theme/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Main Script -->
    <script src="~/reporter-bootstrap-main/theme/js/script.js"></script>

</body>
</html>




