@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>#</td>
            <td>@x.NotificationDetails</td>
            <td>@x.NotificationDate.ToShortDateString()</td>
        </tr>
    }
</table>

