@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"></p>
            <ul class="list-ticked">
                @foreach (var x in Model)
                {
                    <li>
                        @x.NotificationDetails  (@x.NotificationDate.ToShortDateString())
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

