<div class="right-blog-info text-left"  style="margin-left:40px; margin-right:35px; margin-top:60px">
    <div class="tech-btm">
        <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
    </div>

    <h4>Mail bültenine abone olun</h4>
    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
</div>