@using EntityLayer.Concrete
@model List<Blog>

<h2 class="section-title mb-3" style="margin-top:85px">En Beğenilen Blog Yazısı</h2>
<div class="col-lg-12">
    <div class="widget">
        <div class="widget-body">
            @foreach (var x in Model)
            {
                <img loading="lazy" decoding="async" src="@x.BlogImage" alt="About Me" class="w-100 author-thumb-sm d-block">
                <h2 class="widget-title my-3">@x.BlogTitle</h2>
                <p class="mb-3 pb-2">@x.BlogContent.Substring(0, 147) …</p> <a href="/Blog/BlogReadAll/@x.BlogID" class="btn btn-sm btn-outline-primary">
                    Devamını Oku
                </a>
            }
        </div>
    </div>
</div>