@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Konu</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>

    @foreach (var x in Model)
    {
    <tr>
        <td>#</td>
        <td>@x.Subject</td>
        <td>@x.SenderUser.WriterName</td>
        <td>@(((DateTime)x.MeesageDate).ToString("dd-MMM-yyyy"))</td>
        <td>
            <a href="/Message/MessageDetails/@x.MessageID" class="btn btn-outline-warning">Mesajı Aç</a>
        </td>
    </tr>
    }
</table>
<br />
<a href="/Blog/BlogAdd" class="btn btn-outline-primary">Yeni Mesaj Oluştur</a>


