@using EntityLayer.Concrete
@model List<Message2>

@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Konu</th>
                        <th>Alıcı</th>
                        <th>Tarih</th>
                        <th>Mesajı Aç</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.Subject</td>
                            <td>@x.ReceiverUser.WriterName</td>
                            <td>@(((DateTime)x.MeesageDate).ToString("dd-MMM-yyyy"))</td>
                            <td>
                                <a href="/Message/MessageDetails/@x.MessageID" class="btn btn-outline-info">
                                <i class="mdi mdi-message-text"></i>&nbsp;Mesajı Aç</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
