<form asp-action="Index" asp-controller="Blog" method="get" class="search order-lg-3 order-md-2 order-3 ml-auto">
    <input id="search-query" name="p" type="text" placeholder="Aranacak kelime..." autocomplete="off">
</form>