
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<a href="/Admin/Blog/ExportDynamicExcellBlogList" class="btn btn-primary">Excel Listesini İndir</a>


