@using EntityLayer.Concrete
@model List<Blog>

@foreach (var x in Model)
{
<a class="media align-items-center" href="/Blog/BlogReadAll/@x.BlogID">
    <img loading="lazy" decoding="async" src="@x.BlogImage" alt="@x.BlogTitle" class="w-100">
    <div class="media-body ml-3">
        <h3 style="margin-top:-5px">@x.BlogTitle</h3>
        <p class="mb-0 small">@x.BlogContent.Substring(0,47)…</p>
    </div>
</a>
}